.splash-container{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#081b4b;
  color:white;
}

.logo-circle{
  width:200px;
  height:200px;
  display:flex;
  justify-content:center;
  align-items:center;
  animation:spin 3s linear infinite;
}

.logo{
  width:180px;
}

.splash-container h1{
  margin-top:20px;
  font-size:32px;
}

.splash-container p{
  margin-top:10px;
}

@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}