.checklist-page {
  background: #e5e5e5;
  padding: 20px;
  min-height: 100vh;
  overflow-x: auto;
}

.sheet {
  background: white;
  width: 1500px;
  margin: auto;
  border: 1px solid #000;
  padding: 0;
}

.top-header {
  display: flex;
  border-bottom: 2px solid #000;
}

.logo-box {
  width: 280px;
  height: 110px;
  border-right: 2px solid #000;
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  background: purple;
  color: yellow;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.company-title {
  flex: 1;
  text-align: center;
  font-size: 40px;
  color: #7030a0;
  font-weight: bold;
  padding-top: 25px;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px solid #000;
}

.info-row div {
  padding: 10px;
  border-right: 2px solid #000;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #7030a0;
  margin: 5px 0;
  font-size: 22px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #000;
  height: 28px;
  text-align: center;
  font-size: 14px;
}

.task-col {
  width: 280px;
}

td:first-child {
  text-align: left;
  padding-left: 5px;
}

.section {
  font-weight: bold;
  font-size: 16px;
}

.blank {
  height: 28px;
}

td input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  outline: none;
}