.add-task-card {
  max-width: 650px;
  background: white;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 10px 30px rgba(25,25,80,0.08);
}

.add-task-card h2 {
  margin-top: 0;
  color: #11133d;
  text-align: center;
}

.add-task-card form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-task-card input,
.add-task-card select,
.add-task-card textarea {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 14px;
  outline: none;
  font-size: 15px;
}

.add-task-card textarea {
  min-height: 120px;
  resize: none;
}

.add-task-card button {
  border: none;
  background: #6654f1;
  color: white;
  padding: 15px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
}