*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.dashboard{
  display:flex;
  min-height:100vh;
  background:#f5f7fb;
}

/* Sidebar */

.sidebar{
  width:260px;
  background:#09142d;
  color:white;
  padding:25px;
}

.logo{
  text-align:center;
  margin-bottom:40px;
}

.menu{
  list-style:none;
}

.menu li{
  padding:15px;
  margin-bottom:10px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}

.menu li:hover{
  background:#5b3df5;
}

.active{
  background:#5b3df5;
}

.logout{
  margin-top:50px;
  color:#ff5d5d;
}

/* Main */

.main-content{
  flex:1;
  padding:30px;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.search-box{
  width:300px;
  padding:12px;
  border:none;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

/* Welcome */

.welcome-box{
  background:white;
  padding:25px;
  border-radius:20px;
  margin-bottom:25px;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* Cards */

.cards{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:20px;
}

.card{
  background:white;
  padding:25px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card h2{
  color:#5b3df5;
  margin-bottom:10px;
}