* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f7ff;
  font-family: "Poppins", Arial, sans-serif;
}

.hero-card {
  margin-top: 25px;
  background: linear-gradient(135deg, #8b5cf6, #4f46e5);
  min-height: 220px;
  border-radius: 22px;
  padding: 45px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card h2 {
  font-size: 34px;
  margin: 0 0 12px;
}

.hero-card p {
  font-size: 18px;
}

.add-btn {
  margin-top: 18px;
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  background: white;
  color: #4f46e5;
  font-weight: bold;
  cursor: pointer;
}

.hero-image {
  font-size: 90px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 28px;
}

.stat-card {
  background: white;
  padding: 28px;
  border-radius: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 10px 30px rgba(25,25,80,0.08);
  border-bottom: 4px solid;
}

.stat-card h2 {
  margin: 0;
  font-size: 32px;
}

.stat-card p {
  margin: 5px 0;
  font-weight: bold;
  color: #141747;
}

.stat-card span {
  color: #6b7280;
  font-size: 14px;
}

.purple { border-color: #6d5dfc; color: #6d5dfc; }
.orange { border-color: #ff9800; color: #ff9800; }
.green { border-color: #34b978; color: #34b978; }
.red { border-color: #ff416c; color: #ff416c; }

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 28px;
}

.page-card {
  background: white;
  border-radius: 18px;
  padding: 26px;
  box-shadow: 0 10px 30px rgba(25,25,80,0.08);
}

.circle-progress {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#34b978 0 58%, #ff9800 58% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-progress h2,
.circle-progress p {
  margin: 0;
}

.quick-access {
  margin-top: 28px;
  background: #f0edff;
  padding: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.quick-access h3 {
  margin: 0 10px 0 0;
  color: #5f5b70;
}

.quick-access button,
.quick-access a {
  border: none;
  background: white;
  color: #4f46e5;
  padding: 10px 20px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.quick-access button:hover,
.quick-access a:hover {
  background: #6654f1;
  color: white;
}